package model

import (
  "github.com/yamagame/school-api-gateway/pkg/conv"
)

type {{.class}} struct {
{{- range .attributes}}{{ .name | nindent 4}}  {{.type}}  //`{{ .comment }}`{{end}}
}

type {{.classes}} struct {
  *conv.Variables[{{.class}}]
}

func New{{.classes}}(variables ...*{{.class}}) *{{.classes}} {
  return &{{.classes}}{
    Variables: conv.NewVariables(variables...),
  }
}
